<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

    <h2> Welcome to Simba</h2>


    {% if user.is_authenticated %}
    <h3>Hello {{fname}}!</h3>
    <h4>You are successfully logged in</h4>
    <button type="submit"><a href = "http://127.0.0.1:8000/signout/">SignOut</a></button><p>

    {% else %}

    <button type="submit"> <a href = "register/">Register</a></button><p>
    <h4>Already have an account?</h4><p>
    <button type="submit"><a href = "signin/">SignIn</a></button><p>
    
        {% endif %}        

</body>
</html>