
<!DOCTYPE html>
<html>
<head>

<title>Manage Your Wallet</title>
<meta charset="UTF-8">
<style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
</style>
</head>
<body>

<!-- Sidebar/menu -->
<nav>
    <a href = '/expenses/add'> Add</a><p>
    <a href = '/expenses/display'> Display</a><p>
    <a href = '/expenses/analysis'> Analysis</a>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">


</body>
</html>
